/* 
Verde: #468a03
Azul: #143954
Celeste: #62828f
Verde claro: #b1dd00
Negro: #2a2a2a


*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #337893;
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
}

h2{
    color:#FFF;
    font-size: 2vw;
}

header{
    background-color: #62828f;
    color:#FFF; 
    position: sticky;
    top: 0;
    z-index: 9999;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;   
    padding: 0px 50px;
}

.nav-links{
    display: flex;
    gap:30px;
    list-style: none;
}

.nav-links a{
    color:#FFF;
}

.nav-links a:hover{
    color: #b1dd00 ;
}

.btn-cac{
    background-color: #b1dd00;
    padding: 10px;
    border-radius: 10px;
    color:#FFF;
}

.btn-cac:hover{
    color:#143954!important;
    border: 2px solid #143954;
}

#banner{
    background-image: url('../img/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    box-shadow:inset 0 0 0 2000px rgba(84, 84, 84, 0.511);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-banner{
    margin: 0 auto;
    text-align: center;
    padding: 0px 160px;
}

.card-banner h1{
    color:#FFF;
    font-size: 4vw;
}
.card-banner h2{
    margin-bottom: 20px;
}

#busqueda{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.busqueda-titulo{
    color: white;
    font-size: 3vw;
}

.input-buscar {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-size: 16px;    
    height: 50px;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
    font-family: 'Nunito', sans-serif;
}

.planetas-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    row-gap: 30px;
    column-gap: 10px;
}

.planeta-item{
    overflow: hidden;
    width: 400px;
    font-size: 20px;
}

.planeta-item-img {
    border-radius: 20px;
    width: 400px;
    height: 280px;
    /* indica cómo el contenido de <img> debería redimensionarse
     para ajustarse a su contenedor. */
    object-fit: cover;
}

.planeta-item-detalle {
    align-items: flex-start;
    /* para crear un capa de overlay  */
   
    /* Para los elementos con una posición absoluta 
    determina la distancia entre el borde superior del elemento y 
    el borde superior del bloque que lo contiene. */
    display: flex;
    font-size: 40px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    
}
  
.planeta-item-detalle-nombre {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin: 5px 0px 0px 0px;
}
  
.planeta-item-detalle-clima {
    color: white;
    font-size: 10px;
    margin: 3px 0px;
}
  

#footer {
    align-items: center;
    background-color: #62828f;
    display: flex;
    height: 100px;
    width: 100%;
}

#footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
    color:#b1dd00;
}


.btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.mr-5{
    margin-right: 5px;
}

@media screen and (max-width:1920px) {
    
}

@media screen and (max-width:1280px) {  
    
   
    
}

@media screen and (max-width:800px) {
    h2{
        font-size: 3vw;
    }
    .login-texto{
        display: none;
    }
    .logo-texto{
        display: none;
    }
    #banner{
        height: 400px;
    }
    #busqueda{
        height: 200px;
    }
    .container{
        max-width: 720px;
    }
    .card-banner{
        padding: 0px 75px;
    }
    .planetas-grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    .d-form{
        width: 100%;
        margin-bottom: 20px;
    }
    
    .d-iframe{
        width: 100%;
    }

    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

@media screen and (max-width:480px){
    h2{
        font-size: 3vw;
    }
    .login-texto{
        display: none;
    }
    .logo-texto{
        display: none;
    }
    #banner{
        height: 300px;
    }
    #busqueda{
        height: 200px;
    }
    .container{
        max-width: 420px;
    }
    .card-banner{
        padding: 0px 50px;
    }
    .planetas-grid{
        grid-template-columns: repeat(1,1fr);
    }

    .d-form{
        width: 100%;
        margin-bottom: 20px;
    }
    
    .d-iframe{
        width: 100%;
    }

    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}